<%- include('includes/head'); %>

<section class="container">
  <h1>Lorem ipsum</h1>

  <form action="/" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <label>Cliente</label>
    <input type="text" name="cliente" id="">
    <button type="submit">Enviar</button>
  </form>
</section>

<%- include('includes/footer'); %>
